@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");



* {
  font-family: "Nunito", sans-serif;
  transition: all 0.4s linear;
}



.text-main {
  @apply text-red-500;
}

.theme-text {
  @apply text-red-500;
}

.theme-bg{
  @apply bg-red-500;
}

.theme-border{
  @apply border-red-500;
}

.theme-bg:hover{
  @apply bg-red-700
}

.text-star{
  color: #F7CD2E;
}

.z-top{
  z-index: 9999;
}

.c-input{
  @apply border-2 rounded w-full p-2 rounded-lg
}

.login-icon{
  @apply p-3 rounded-full text-white
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.banner-floting-img {
  animation: float 3s linear infinite;
}
.menu-open {
  animation: menuOpenAni 0.5s forwards;
}

.menu-close {
  animation: menuCloseAni 0.5s forwards;
}

.c-primary-btn {
  @apply border-2 border-red-500 py-2 px-5 rounded-lg text-red-500 text-red-800 transition duration-300;
}

.c-primary-btn:hover {
  @apply bg-red-500 text-white;
}

.hover-img-card {
  @apply md:w-96 w-80 gap-4 shadow-lg p-4 rounded-lg border relative overflow-hidden;
  background: #fff;
}

.hover-img-card .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
  object-fit: fill;
}

.hover-img-card:hover .image {
  top: 0;
}

.hover-img-card .content {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hover-img-card:hover .content {
  transform: translateY(120%);
}

.price-on-card{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgb(239 68 68);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.f-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 30;
  background: #081621;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  width: 59px;
  height: 59px;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%), -5px 5px 10px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.f-btn:hover{
  background-color: #38394b;
}

.f-btn span.counter {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ef4a23;
  line-height: 20px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.f-btn .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(239 68 68); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 27, 27); 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes menuOpenAni {
  0% {
    height: 0px;
  }
  100% {
    height: 12rem;
  }
}

@keyframes menuCloseAni {
  0% {
    height: 12rem;
  }
  100% {
    height: 0px;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}
